@charset "utf-8";
/* 공통서식 */
ul,ol,li { list-style: none; } 
a { text-decoration: none; color: #000; } 
.h2none { display: none; } 
* { font-family: 'Noto Sans KR', sans-serif; scroll-behavior: smooth; } 
